* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    background-image: url(../img/Fondos/fondo_4.jpg);
    height: 100px;
}

/* estilo seccion bienvenida */
.container1 {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fondos/fondo_1.jpg);
    background-size: cover;
}

/* estilos titulos y parrafos  */
.titulo {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p {
    font-size: 18px;
    color: #000000;
    padding: 0 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: unset;
}

/* estilo sección de servicios */
.container2 {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-servicios {
    color: #000000;
}


@media (max-width: 480px) {
    body {
        font-size: 14px;
        background-size: cover;
        background-position: center;
        height: auto;
    }

    .container1,
    .container2 {
        height: auto;
        padding: 20px;
        background-size: cover;
        background-position: center;
    }

    .titulo {
        font-size: 20px;
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
        padding: 0 20px;
    }

    .lista-servicios {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
        background-size: cover;
    }

    .container1,
    .container2 {
        height: auto;
        padding: 30px;
        background-size: cover;
    }

    .titulo {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        padding: 0 50px;
    }

    .lista-servicios {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
        background-size: cover;
        height: 100vh;
    }

    .container1,
    .container2 {
        height: 85vh;
        padding: 40px;
    }

    .titulo {
        font-size: 30px;
        margin-bottom: 40px;
    }

    p {
        font-size: 18px;
        padding: 0 150px;
    }

    .lista-servicios {
        font-size: 18px;
    }
}